/* Body and font family -Use Comic Sans for all text and box-sizing */
body {
  font-family: "Comic Sans MS", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
}

/* background color and spacing */
body>div>div.id {
  background-color: yellow;
  border: 2px solid black;
  padding: 6px;
}


/* Focus is on 2px thick black border. */
body>div {
  display: grid;
  border: 2px solid black;
}


/* Use of css flexbox*/
body>div>div:not([class]):not([id]) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  border: 2px solid black;
  padding: 6px;
}

/*italicize D only*/
span.class {
  font-style: italic;
}

/*Use of css gridbox */
div.class {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  border: 2px solid black;
}

/*  one-third (1/3) of the page width*/
div.class>div.id {
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: yellow;
  border: 2px solid black;
  padding: 6px;
}

/*Align the "H H H H" text to the right edge of element "H*/
div#H {
  grid-column: 1 / 4;
  grid-row: 3;
  width: calc(100% / 3);
  margin: 0 auto;
  border: 2px solid black;
  text-align: right;
  padding: 6px;
}

/*alignment*/
div.class>span {
  grid-column: 3;
  grid-row: 1;
  border: 2px solid black;
  padding: 4px;
  align-self: start;
}

/* styling id class */
div#class {
  grid-column: 2;
  grid-row: 1 / 3;
  border: 2px solid black;
  padding: 4px;
}